<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FEYN Chat Interface</title>
  <link rel="stylesheet" href="../static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-auth.js"></script>
</head>
<body>
<div class="top-bar">
  <div class="bar-title">F.E.Y.N Console</div>
  <div class="bar-tabs">
    <button class="tab-button" onclick="showChatsTab()">Chats</button>
    <button class="tab-button" onclick="showTerminalTab()">Terminal</button>
    <div id="user-info">
      <!-- Sign Out Button will be shown only when the user is logged in -->
      <button id="signOutBtn" onclick="signOut()" style="display:none;">Sign Out</button>
    </div>
  </div>
</div>

<div class="chat-container">
  <div class="chat-header">F.E.Y.N Assistant</div>
  <!-- CHATS VIEW -->
  <div id="chatsView" class="hidden">
    <div class="add-chat-bar">
      <label for="newChatName"><input type="text" id="newChatName" placeholder="New chat name..." onkeydown="handleNewChatKeyPress(event)"></label>
      <button onclick="createNewChat()">+</button>
    </div>
    <div id="chatsContent"></div>
  </div>

  <!-- TERMINAL VIEW -->
  <div id="terminalView" class="hidden">
    <div class="chat-messages" id="messages"></div>
    <div class="chat-input" id="chat-input">
      <label><input type="text" id="userInput" placeholder="Enter your message..." onkeydown="handleKeyPress(event)" /></label>
      <button onclick="sendMessage()">Send</button>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
<script src="../static/script.js"></script>
</body>
</html>
